@font-face {
   font-family: 'GRAPHIK ARABIC THIN';
   font-display: swap;
   src: url('file:///C:/Users/Yasser%20Mutwakil/Desktop/youry/the%20blog/the%20blog/fonts/GRAPHIK%20ARABIC%20THIN/font.OTF');
}
