@font-face {
   font-family: 'IBMPlexSansArabic-Bold';
   font-display: swap;
   src: url('file:///C:/Users/Yasser%20Mutwakil/Desktop/youry/the%20blog/the%20blog/fonts/IBMPlexSansArabic-Bold/font.ttf');
}
